<a href="https://colab.research.google.com/github/ApraAditi/OOPII-Python/blob/main/1st_day_1823.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Start the practice with Hello world!

In [ ]:
print("Hello World!")

Hello World!

Comments in Python

In [ ]:
Name = "Apra"
print(Name)

Apra

Variable

In [ ]:
Age = 20  # int var.
Cgpa = 3.72 # floot var.
Name = "Apra" # String

print(Name)
print(Cgpa)
print(Age)

Apra
3.72
20

Python Comments

In [ ]:
Name = "Apra" #this is the single line comment
print(Name)
"""for multiple
line
comment"""

Apra

'for multiple\nline\ncomment'

input output

In [ ]:
age = input("Enter Your Age: ")
print(age)

Enter Your Age: 20
20

Python Numbers

In [ ]:
a = 2
b = 2.2
c = "Apra"
d = 3 + 5j #complex
e = -5j
f = float(a) #type conversion/type casting

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(f)

import random #print random number in the given range
random_number = random.randrange(2,30)
print(random_number)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'complex'>
2.0
11

Python Strings

In [ ]:
print("""sum is""",7+3)
print('Display \'Hi\' in quotes') #\'Escape Character
print("Display \"Hi\" in quotes") #\""Escape Character
print('''Display 'Hi' and "Bye" in quotes''')

sum is 10
Display 'Hi' in quotes
Display "Hi" in quotes
Display 'Hi' and "Bye" in quotes

Strings are Arrays

In [ ]:
a = "Hello. how are you?"
print(a[6])
print(a[7])
print(len(a)) #string length
print("No" in a) #check string (Membership Operators)
print("No"not in a) #check if not in string (Membership Operators)

h
19
False
True

Slicing Strings

In [ ]:
a = "Hello. how are you?"
print(a[2:17])
print(a[:17]) #from start
print(a[2:]) #to end
print(a[-13:-3]) #Neg Slicing

llo. how are yo
Hello. how are yo
llo. how are you?
 how are y

Modify Strings

In [ ]:
a = "Hello. How are you?"
print(a.upper()) #upper case
print(a.lower()) #lower case
print(a.strip()) #remove space from start or the end
print(a.replace("Hello", "Hi")) #replace string with another string
b = "Okay! Good Bye."
c = "Okay, Good Bye."
print(b.split("!")) #the specified separator becomes the list items.
print(c.split(","))

HELLO. HOW ARE YOU?
hello. how are you?
Hello. How are you?
Hi. How are you?
['Okay', ' Good Bye.']
['Okay', ' Good Bye.']

String Concatenation

In [ ]:
a = "Hello"
b = "Apra"
print(a + b)
print(a + " " +  b)

HelloApra
Hello Apra

 Format-Strings

In [ ]:
age = 20
a = (f"my age is {age}")
print (a)

my age is 20

Arithmetic Operation

In [ ]:
a = 9
b = 4
print(a + b) #add
print(a - b) #sub
print(a * b) #mul
print(a / b) #Div
print(a % b) #Mod

13
5
36
2.25
1

Comparison Operators

In [ ]:
a = 4
b = 9
print (a==b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)

False
False
True
False
True
True

Logical Operators

In [ ]:
a = True
b = False
print(a and b)
print(a or b)
print( not b)

False
True
True

Assignment Operators

In [ ]:
a = 10
b = a
print (b)
b += a
print (b)
b -= a
print (b)
b *= a
print (b)

10
20
10
100

If Else

In [ ]:
i = 10
if (i == 3):
  print("i is 3")
elif (i == 10):
  print("i is  10")
else:
  print("i is  15")

i is  10

Loop

In [ ]:
for i in range(0, 20, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18

While loop

In [ ]:
count = 0
while (count < 3):
    count = count + 1
    print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek

Python Lists

In [ ]:
list = ["apple", "banana", 12, True, "banana"] #list allow different data type,duplicate value
print(list)
print(type(list))
print(len(list))
print(list[1]) #by index we can access any item over list
print(list[-2]) #negative index
print(list[1:4]) #range

list[2] = "mango"
print(list) #Change Item Value

list.insert(3,False) #inserts an item at the specified index
print(list)

list.append('water') #To add an item to the end of the list
print(list)

a = ["aa", "ss","dd"]
list.extend(a)#using extend method add another list/set/tuples/dictionaries
              #here i add a tuple
print(list)

list.remove("dd") #removes the specified item.
print(list)

list.pop(8) #Remove Specified Index
print(list)

del list[7] #The del keyword also removes the specified index
print(list)

list.clear() #The list still remains, but it has no content.
print(list)

del list #The del keyword can also delete the list completely.
print(list)

['apple', 'banana', 12, True, 'banana']
<class 'list'>
5
banana
True
['banana', 12, True]
['apple', 'banana', 'mango', True, 'banana']
['apple', 'banana', 'mango', False, True, 'banana']
['apple', 'banana', 'mango', False, True, 'banana', 'water']
['apple', 'banana', 'mango', False, True, 'banana', 'water', 'aa', 'ss', 'dd']
['apple', 'banana', 'mango', False, True, 'banana', 'water', 'aa', 'ss']
['apple', 'banana', 'mango', False, True, 'banana', 'water', 'aa']
['apple', 'banana', 'mango', False, True, 'banana', 'water']
[]
<class 'list'>

list Constructor (work on vs code but here not working!):

In [ ]:
# a = list(("apra", 1823, "CSE"))
# print(a)

TypeError: 'list' object is not callable

List Continue...